//*************************************************
// html elements
//*************************************************
* { box-sizing: border-box; }

body {
  color: $grey-dark;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: rem-calc(20 0 40 0);
  width: 100%;

  thead {
    border-bottom: solid $blue-dark rem-calc(2);
  }

  tbody {
    tr { 
      border-bottom: solid $grey-light rem-calc(1);
      cursor: pointer;

      &:hover {
        background-color: $grey-light;
      }
    }
  }

  td, th {
    padding: rem-calc(5 8);
    text-align: left;
    width: 10%;

    &:first-child { width: 1%; }
  }
}

h1, h2, h3 {
  color: $blue-dark;
}

p {
  margin-top: 0;
}

//*************************************************
// site structure
//*************************************************
.site-width {
  width: $site-width;
}

.container {
  @extend .site-width;

  margin: 0 auto;
}

.page-padding {
  padding: rem-calc(30 20 70 20);
}

.page-content {
  width: 60%;
}