//*************************************************
// html elements
//*************************************************
* { box-sizing: border-box; }

body {
  color: $grey-dark;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: rem-calc(20 0 40 0);
  table-layout: fixed;
  width: 100%;

  thead {
    background-color: $blue-dark;
    border-bottom: solid $grey-light rem-calc(1);
    color: white;

    &:first-child { border-left: none; }
  }

  tbody {
    tr { 
      background-color: $grey-light;
      cursor: pointer;

      &:nth-child(even){ background-color: $blue-light; }

      &:hover { background-color: $grey; }
    }
  }

  td, th {
    border-left: solid white rem-calc(1);
    padding: rem-calc(16 14);
    text-align: left;

    &:first-child { 
      font-weight: $bold;
      text-align: center;
    }
  }
}

h1, h2, h3 {
  color: $blue-dark;
}

p {
  margin-top: 0;
}

//*************************************************
// site structure
//*************************************************
.site-width {
  width: $site-width;
}

.container {
  @extend .site-width;

  margin: 0 auto;
}

.page-padding {
  padding: rem-calc(30 20 70 20);
}

.page-content {
  width: 60%;
}