//*************************************************
// html elements
//*************************************************
* { 
  box-sizing: border-box; 
  -webkit-font-smoothing: antialiased;
}

body {
  color: $body-font;
  font-family: $openSans;
  font-weight: lighter;
  margin: 0;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  thead {
    background-color: $blue-dark;
    border-bottom: solid $grey-light rem-calc(1);
    color: white;

    &:first-child { border-left: none; }
  }

  tbody {
    tr { 
      background-color: $grey-light;
      cursor: pointer;

      &:nth-child(even){ background-color: $blue-light; }

      &:hover { background-color: $grey; }
    }
  }

  td, th {
    border-left: solid white rem-calc(1);
    padding: rem-calc(16 14);
    text-align: left;
    word-wrap: break-word;

    &:first-child { 
      font-weight: $bold;
      text-align: center;
    }
  }
}

h1 {
  color: white;
  font-family: $playfair;
  font-size: rem-calc(72);
  line-height: 1;
  margin: rem-calc(0 0 27 0);
}

p {
  margin-top: 0;
}

strong {
  font-weight: $bold;
}

//*************************************************
// site structure
//*************************************************
.site-width {
  width: $site-width;
}

.container {
  @extend .site-width;

  margin: 0 auto;
}

.page-padding {
  padding: rem-calc(30 20 120 20);
}

.page-content {
  width: 60%;
}