//*************************************************
// positioning
//*************************************************
.center { text-align: center; }
.relative { position: relative; }

.vertical-center { 
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}