//*************************************************
// helpers
//*************************************************
// - display
// - font
// - lists
// - positioning
//
//*************************************************
// display
//*************************************************
.inline-block { display: inline-block; }
.no-margin-bottom { margin-bottom: 0; }

//*************************************************
// font
//*************************************************
.bold { font-weight: $bold; }

//*************************************************
// lists
//*************************************************
.ul-unstyled {
  margin: 0;
  padding: 0;
}

//*************************************************
// positioning
//*************************************************
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
.float-left { float: left; }
.relative { position: relative; }

.vertical-center { 
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}