//*************************************************
// helpers
//*************************************************
// - font
// - positioning
//
//*************************************************
// font
//*************************************************
.bold { font-weight: $bold; }

//*************************************************
// positioning
//*************************************************
.center { text-align: center; }
.right { text-align: right; }
.relative { position: relative; }

.vertical-center { 
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}