//**************************************************
// settings
//**************************************************
//
// - colours
// - dimensions
// - fonts
// - buttons
//
//**************************************************
// colours
//**************************************************
$blue-light: #EDEEF1;
$blue: #33548F;
$blue-dark: #172A4D;

$grey-light: #FAFAFB;
$grey: #D5D8E1;
$grey-dark: #333333;

$red: #bc2f2f;

//**************************************************
// dimensions
//**************************************************
$site-width: rem-calc(1200);

//**************************************************
// fonts
//**************************************************
$fontAwesome: normal normal normal 14px/1 FontAwesome;
$bold: 600;

//**************************************************
// buttons
//**************************************************
$global-radius: rem-calc(3);