//**************************************************
// settings
//**************************************************
//
// - colours
// - dimensions
// - fonts
// - buttons
//
//**************************************************
// colours
//**************************************************
$blue-light: #96a5ba;
$blue: #33548F;
$blue-dark: #0C2448;

$grey-light: #efefef;
$grey: darken($grey-light, 10%);
$grey-dark: #333333;

$red: #bc2f2f;

//**************************************************
// dimensions
//**************************************************
$site-width: rem-calc(1200);

//**************************************************
// fonts
//**************************************************
$fontAwesome: normal normal normal 14px/1 FontAwesome;
$bold: 600;

//**************************************************
// buttons
//**************************************************
$global-radius: rem-calc(3);