//**************************************************
// button mixins
//**************************************************
@mixin button-background($colour){
  background-color: $colour;

  &:hover { background-color: lighten($colour, 10%); }
}

//**************************************************
// reusable styles
//**************************************************
%button--pagination {
  @extend .button--blue;
  background-position: center;
  background-repeat: no-repeat;
  width: rem-calc(45); height: rem-calc(45);
}

//**************************************************
// buttons
//**************************************************
.button {
  border-radius: $global-radius;
  border: none;
  color: white;
  cursor: pointer;
  font-size: rem-calc(18);
  font-weight: $bold;
  padding: rem-calc(11 17);
  text-decoration: none;
  
  &--blue { @include button-background($blue); }
  &--green { @include button-background($green); }

  &--download {
    background: $green image-url('icons/download.svg') no-repeat rem-calc(21) center;
    color: white;
    padding: rem-calc(11 22 11 53);
  }

  &--next {
    @extend %button--pagination;
    background-image: image-url('icons/chevron-right.svg');
  }

  &--previous {
    @extend %button--pagination;
    background-image: image-url('icons/chevron-left.svg');
    margin: rem-calc(0 6 0 8);
  }

  &--disabled {
    background-color: $grey-light;
    cursor: default;

    &:hover { background-color: $grey-light; }
  }
}