//**************************************************
// filters
//**************************************************
.filter {
  margin-right: rem-calc(14);

  display: inline-block;
  position: relative;

//**************************************************
// title
//**************************************************
  &__title {
    border: solid rem-calc(1) $grey;
    border-radius: $global-radius;
    cursor: pointer;
    margin: 0;
    padding: rem-calc(7 70 7 10);

    position: relative;

    &:after {
      @extend .vertical-center;
      background-color: $grey;
      border-left: solid rem-calc(1) $grey;
      content: '\f107';
      font: $fontAwesome;
      padding: rem-calc(9 12);

      right: 0;
    }

    &:hover:after { background-color: lighten($grey, 7%); }

    &--active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      &:after { content: '\f106'; }
    }
  }

//**************************************************
// multiselect
//**************************************************
  &__select {
    background-color: white;
    border: solid rem-calc(1) $grey-light;
    border-top: none;
    border-bottom-right-radius: $global-radius;
    border-bottom-left-radius: $global-radius;
    font-size: rem-calc(16);
    overflow-y: scroll;
    width: 100%;
    height: rem-calc(150);

    display: none;
    position: absolute;
    z-index: 1;

    &--active {
      display: block;
    }

    &-option {
      cursor: pointer;
      font-size: rem-calc(16);
      padding: rem-calc(4 9);

      display: block;

      &:hover {
        background-color: $grey-light;
      }
    }
  }
}