//**************************************************
// variables
//**************************************************
$activeBackgroundColour: $blue;
$activeTextColour: white;

//**************************************************
// filters
//**************************************************
.filter {
  margin-right: rem-calc(20);

  display: inline-block;
  position: relative;

  &__title {
    font-size: rem-calc(20);
    margin-right: rem-calc(20);
  }

//**************************************************
// button
//**************************************************
  &__button {
    border: solid rem-calc(1) $black;
    color: $black;
    cursor: pointer;
    font-weight: $bold;
    margin: 0;
    padding:rem-calc(9 39 10 13);

    position: relative;

    &:hover { 
      background-color: $activeBackgroundColour;
      border-color: $activeBackgroundColour;
      color: $activeTextColour;

      &:after { background-image: image-url('icons/arrow-down-white.svg'); }
    }

    &:after {
      @extend .vertical-center;
      background-image: image-url('icons/arrow-down-black.svg');
      content: '';
      margin: rem-calc(2 0 0 7);
      width: rem-calc(8); height: rem-calc(6);

      right: rem-calc(24);
    }
    
    &--active {
      background-color: $activeBackgroundColour;
      border-color: $activeBackgroundColour;
      color: $activeTextColour;     

      &:after,
      &:hover:after { background-image: image-url('icons/arrow-up-white.svg'); }
    }

    &--has-selected {
      background-color: $activeBackgroundColour;
      color: $activeTextColour;
      
      &:after,
      &:hover:after { content: none; }
    }

      &-total {
        @extend .vertical-center;
        background-color: $activeTextColour;
        border-radius: 100%;
        color: $activeBackgroundColour;
        font-size: rem-calc(18);
        text-align: center;
        width: rem-calc(24); height: rem-calc(24);

        display: block;

        position: absolute;
        right: rem-calc(9);
      }
  }

//**************************************************
// options
//**************************************************
  &__options {
    background-color: white;
    border: solid rem-calc(1) $black;
    border-radius: $global-radius;
    font-size: rem-calc(16);
    margin-top: rem-calc(18);
    overflow-y: scroll;
    padding: rem-calc(30 25);
    max-height: rem-calc(316);

    display: none;
    position: absolute;
    z-index: 1;

    &--active {
      display: block;
    }
  }

  &__option {
    cursor: pointer;
    font-size: rem-calc(16);
    margin: rem-calc(0 20 10 0);
    width: 100%;

    display: block;
  }
    
    &__checkbox {
      display: inline-block;
    }

    &_checkbox-label {
      display: inline-block;
    }
}