//**************************************************
// filters
//**************************************************
.filter {
  margin-right: rem-calc(20);

  display: inline-block;
  position: relative;

  &__title {
    font-size: rem-calc(20);
    margin-right: rem-calc(20);
  }

//**************************************************
// button
//**************************************************
  &__button {
    border: solid rem-calc(1) $black;
    color: $black;
    cursor: pointer;
    font-weight: $bold;
    margin: 0;
    padding-right: rem-calc(37);

    position: relative;

    &:hover { 
      background-color: $blue;
      border-color: $blue;
      color: white;

      &:after { background-image: image-url('icons/arrow-down-white.svg'); }
    }

    &:after {
      @extend .vertical-center;
      background-image: image-url('icons/arrow-down-black.svg');
      content: '';
      margin: rem-calc(2 0 0 7);
      width: rem-calc(8); height: rem-calc(6);
    }
    
    &--active {
      background-color: $blue;
      border-color: $blue;
      color: white;     

      &:after,
      &:hover:after { background-image: image-url('icons/arrow-up.svg'); }
    }
  }

//**************************************************
// options
//**************************************************
  &__options {
    background-color: white;
    border: solid rem-calc(1) $black;
    border-radius: $global-radius;
    font-size: rem-calc(16);
    margin-top: rem-calc(18);
    overflow-y: scroll;
    padding: rem-calc(30 25);
    max-height: rem-calc(316);

    display: none;
    position: absolute;
    z-index: 1;

    &--active {
      display: block;
    }
  }

  &__option {
    cursor: pointer;
    font-size: rem-calc(16);
    margin: rem-calc(0 20 10 0);
    width: 100%;

    display: block;

    &:hover {
      background-color: $grey-light;
    }
  }
    
    &__checkbox {
      display: inline-block;
    }

    &_checkbox-label {
      display: inline-block;
    }
}