.footer {
  
  &--blue { background-color: $blue-dark; }
  &--grey { background-color: $grey-light; }

  .footer__caveat {
    color: $grey-dark;
    font-size: rem-calc(14);
    padding: rem-calc(18 29);
    text-align: center;
  }

  .footer__bottom {
    color: white;
    padding: rem-calc(29);
    text-align: right;
  }

    &__copyright {
      float: left;
      position: relative;
      top: rem-calc(8);
    }
}