.footer {
  
  &--background-color { background-color: $base-color; }
  &--grey { background-color: $grey-light; }

  .footer__caveat {
    color: $grey-dark;
    font-size: rem-calc(14);
    padding-top: rem-calc(18);
    padding-bottom: rem-calc(18);

    p { @extend .page-padding-side; }
  }

  .footer__bottom {
    color: white;
    padding: rem-calc(29);
    text-align: right;
  }

    &__copyright {
      float: left;
      position: relative;
      top: rem-calc(8);
    }
}