.header {
  @include bg-image-overlay;
  
  background: image-url('hero.jpg') no-repeat center;
  background-size: cover;
  padding-top: rem-calc(94);
  height: rem-calc(680);

  a { color: white;
    &:hover { text-decoration: none; } 
  }

  &__title-box {
    color: white;
    font-size: rem-calc(20);
    padding: rem-calc(0 20);
    width: 80%;
  }

    &__divider {
      border-top: solid rem-calc(2) white;
      margin-bottom: rem-calc(20);
      width: rem-calc(66);

      display: block;
    }
}