.logo {
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: rem-calc(26);

  display: inline-block;

  &-icri {
    background-image: image-url('logos/logo-icri.png');
    width: rem-calc(58); height: rem-calc(31);
  }
  
  &-iyor {
    background-image: image-url('logos/logo-iyor.png');
    width: rem-calc(104); height: rem-calc(31);
  }

  &-unep {
    background-image: url('https://s3.amazonaws.com/wcmc.logo/UN-Environment-+logo+2017+white.svg');
    width: rem-calc(59); height: rem-calc(31);
  }

  &-unepwcmc {
    background-image: url('https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017+white.svg');
    width: rem-calc(94); height: rem-calc(31);
  }
}