//**************************************************
// selected filter options
//**************************************************
.selected {
  border-radius: $global-radius;
  padding: rem-calc(20 0);

  &__option {
    border: solid $blue rem-calc(1);
    border-radius: rem-calc(3);
    margin: rem-calc(0 14 10 0);
    
    display: inline-block;
  }

    &__text {
      padding: rem-calc(8 4 8 8);

      display: inline;
    }

      &__filter {
        color: $blue;
        text-transform: capitalize;
      }

    &__close {
      background-color: $blue;
      border: none;
      color: $grey-light;
      cursor: pointer;
      margin: 0;
      padding: rem-calc(8 11);

      &:hover { 
        background-color: lighten($blue, 5%); 
        color: white;
      }
    }
}