//**************************************************
// selected filter options
//**************************************************
.selected {
  border-radius: $global-radius;
  padding: rem-calc(20 0);

  &__option {
    border: solid $blue rem-calc(1);
    border-radius: rem-calc(3);
    margin: rem-calc(2 4);
    
    display: inline-block;
  }

    &__text {
      padding: rem-calc(6 4 6 8);
    }

    &__close {
      background-color: $blue;
      border: none;
      border-top-right-radius: rem-calc(3);
      border-bottom-right-radius: rem-calc(3);
      color: $grey-light;
      cursor: pointer;
      padding: rem-calc(6 8);

      &:hover { 
        background-color: lighten($blue, 5%); 
        color: white;
      }
    }
}