/**************************************************/
/* selected filter options
/**************************************************/
.selected {
  border: solid $grey-light rem-calc(1);
  border-radius: rem-calc(3);
  margin: rem-calc(2 4);
  padding: rem-calc(3 4);
  
  display: inline-block;
}