.social {
//*************************************************
// icons
//*************************************************
  &--facebook { background-image: image-url('icons/facebook.svg'); }
  &--linkedin { background-image: image-url('icons/linkedin.svg'); }
  &--twitter { background-image: image-url('icons/twitter.svg'); }
  &--email { background-image: image-url('icons/mail.svg'); }

//*************************************************
// sharing
//*************************************************
  &--sharing {
    background-color: rgba($blue-faint, .8);
    padding: rem-calc(12 20 7 20);

    position: absolute;
    top: 0;
    right: 0;
  }

    &--share {
      background-size: cover;
      margin: rem-calc(4);
      text-align: center;
      text-decoration: none;
      width: rem-calc(36); height: rem-calc(36);

      display: inline-block;

      &:hover { opacity: .7; } 
    }
}