.table {
//**************************************************
// column headers
//**************************************************
  &__header {
    margin-right: rem-calc(2);
    vertical-align: middle;

    display: inline-block;
  }

//**************************************************
// columns
//**************************************************
  
  // fix the columns widths so that they don't change
  // size when you use the pagination 
  th,td {
    &:first-child { width: 5%; }
    &:nth-child(2) { width: 12%; }
    &:nth-child(3) { width: 10%; }
    &:nth-child(4) { width: 9%; }
    &:nth-child(5) { width: 12%; }
    &:nth-child(6) { width: 12%; }
    &:nth-child(7) { width: 10%; }
    &:nth-child(8) { width: 13%; }
    &:nth-child(9) { width: 15%; }
  }

//**************************************************
// sort column buttons
//**************************************************
  &__sorting {
    vertical-align: middle;

    display: inline-block;
  }

    &__sort {
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
      padding: 0;
      margin: 0;
      opacity: .7;

      display: block;

      &:hover {
        opacity: .9;
      }

      &:before {
        font: $fontAwesome;
      }

      &--ascending {
        &:before { content: '\f106'; }
      }

      &--descending {
        &:before { content: '\f107'; }
      }
    }
}