.table {
//**************************************************
// column headers
//**************************************************
  &__header {
    vertical-align: middle;
    width: 77%;

    display: inline-block;
  }

//**************************************************
// sort column buttons
//**************************************************
  &__sorting {
    vertical-align: middle;
    width: 19%;

    display: inline-block;
  }

    &__sort {
      background-color: $grey;
      border: none;
      cursor: pointer;
      padding: rem-calc(3 7 4 7);

      display: block;

      &:hover {
        background-color: lighten($grey, 7%);
      }

      &:before {
        font: $fontAwesome;
      }

      &--ascending {
        border-bottom: solid rem-calc(1) grey;
        border-top-right-radius: $global-radius;
        border-top-left-radius: $global-radius;

        &:before { content: '\f106'; }
      }

      &--descending {
        border-bottom-right-radius: $global-radius;
        border-bottom-left-radius: $global-radius;

        &:before { content: '\f107'; }
      }
    }
}