<footer class="footer">
  <span class="footer__copyright">&copy; Copyright 2017</span>
  
  <%= link_to '', 'https://www.unenvironment.org/', class: 'footer__logo logo logo-unep', title: 'Visit the UN Environment' %>

  <%= link_to '', 'https://www.icriforum.org/', class: 'footer__logo logo logo-icri', title: 'Visit the International Coral Reef Initiative' %>
  
  <%= link_to '', 'https://www.icriforum.org/about-icri/iyor', class: 'footer__logo logo logo-iyor', title: 'Visit the International Year of the Reef' %>
  
  <%= link_to '', 'https://www.unep-wcmc.org/', class: 'footer__logo logo logo-unepwcmc', title: 'Visit the UN Environment World Conservation Monitoring Centre' %>
</footer>