<footer class="footer">
  <div class="footer--grey footer__caveat">
    <div class="container">
      <%= I18n.t('footer.container').html_safe %>
    </div>
  </div>

  <div class="footer--background-color footer__bottom">
    <span class="footer__copyright"><%= I18n.t('footer.copyright', year: Date.today.year).html_safe %></span>
    <% t('footer.logos').each do |block| %>
      <%= link_to '', block[:url], class: block[:class], title: block[:title] %>
    <% end %>
  </div>
</footer>
