<header class="header">
  <div class="container header__title-box-wrapper">
    <div class="header__title-box">
      <h1>Coral Reef<br/>Funding Landscape</h1>
      <span class="header__divider"></span>
      <p><strong>Coral Reef Funding Landscape</strong> explores international funding allocations for the sustainable management of coral reefs and related mangroves and seagrass ecosystems. Use the filter options below to discover current and historic global funding efforts, including details of total project cost, spatial and temporal scale, donors, beneficiaries and thematic area.</p>
      <p>Data from this database informed the <i>Analysis of International Funding for the Sustainable Management of Coral Reefs and Associated Coastal Ecosystems (2018)</i>. This analysis was conducted by UN Environment World Conservation Monitoring Centre, UN Environment and the International Coral Reef Initiative and is available to download as a <%= link_to 'summary brochure', 'http://wcmc.io/coralbrochure', title: 'Download a summary brochure of the Analysis of International Funding for the Sustainable Management of Coral Reefs and Associated Coastal Ecosystems (2018)', target: '_blank' %>.</p>
    </div>
  </div>
  
  <span class="header__bar"></span>
</header>