<div class="container relative">
  <%= render "global/social_sharing" %>
</div>

<header class="header">
  <div class="container">
    <div class="header__title-box">
      <h1>Collated Coral</h1>
      <p>Search the coral database that has the worlds Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
  </div>
</header>