<header class="header">
  <div class="container">
    <div class="header__title-box">
      <%= I18n.t('header.container.title').html_safe %>
      <span class="header__divider"></span>
      <%= I18n.t('header.container.content').html_safe %>
    </div>
  </div>
</header>