<div class="topbar">
  <div class="container relative">
    <%= render "global/social_sharing" %>
  </div>
</div>

<header class="header">
  <div class="container">
    <div class="header__title-box">
      <h1>Coral Reef Funding Landscape</h1>
      <p class="header__intro">Search the database to explore international funding allocations for the sustainable management of coral reefs and related mangroves and seagrass ecosystems.</p>

      <p class="header__intro">Use the search and filter options below to discover current and historic global funding efforts, including details of total project cost, spatial and temporal scale, donors, beneficiaries, and thematic area.</p>
    </div>
  </div>
</header>