<div class="social--sharing">

  <%= create_social_link('facebook', 'https://facebook.com/sharer/sharer.php?u=' + encoded_page_url, 'Share Coral Reef Funding Landscape on Facebook', '_blank') %>
  
  <%= create_social_link('linkedin', 'https://www.linkedin.com/shareArticle?url=' + encoded_page_url, 'Share Coral Reef Funding Landscape on LinkedIn', '_blank') %>

  <%= create_social_link('twitter', 'https://twitter.com/intent/tweet/?text=' + url_encode("Coral Reef Funding Landscape - Explore international funding allocations for the sustainable management of coral reefs and related mangroves and seagrass ecosystems.") + '&url=' + encoded_page_url, 'Share Coral Reef Funding Landscape on Twitter', '_blank') %>

  <%= create_social_link('email', 'mailto:?subject=' + url_encode('Coral Reef Funding Landscape') + '&body=' + url_encode('Coral Reef Funding Landscape') + '%0D%0A%0D%0A' + url_encode('Search the database to explore international funding allocations for the sustainable management of coral reefs and related mangroves and seagrass ecosystems.') + '%0D%0A%0D%0A' + encoded_page_url, 'Share Coral Reef Funding Landscape via Email', '_self') %>
  
</div>